name: docs

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly

      - name: Generate Docs
        # --no-deps avoids building docs for dependencies, speeding up the process
        # --document-private-items includes private modules/functions which is useful for internal dev
        run: cargo doc --no-deps --document-private-items

      - name: Create index.html redirect
        run: echo '<meta http-equiv="refresh" content="0; url=vorothree/index.html">' > target/doc/index.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
